<?xml version="1.0"?>
<rss version = "0.91">
  <channel>
    <webobject name = "GenericContainer5"><webobject name = "TitleString"/></webobject>
    <webobject name = "GenericContainer1"><webobject name = "LinkString"/></webobject>
    <webobject name = "GenericContainer2"></webobject>
    <webobject name = "GenericContainer3"></webobject>
    <webobject name = "GenericContainer4">is</webobject>
    <webobject name = "Repetition1">
      <webobject name = "XMLNode2">
        <webobject name = "XMLNode3"><webobject name = "String1" /></webobject>
        <webobject name = "PubDateNode"><webobject name = "PubDateStr"/></webobject>
        <webobject name = "LinkNode"><webobject name = "String2" /></webobject>
        <webobject name = "XMLNode5"><webobject name = "String3" /></webobject>
      </webobject>
    </webobject>
  </channel>
</rss>