<!-- SWEditStandardComponent -->
<table cellspacing="0" align="left" cellpadding="2" class="genericTable" border="0" width="100%">
	<tr>
		<td colspan="2">
			<webobject name="HeitiField2"/>
			<webobject name="RadioButton1"/><webobject name="ImageButton1"/>&nbsp;&nbsp;
			<webobject name="RadioButton2"/><webobject name="ImageButton2"/>&nbsp;&nbsp;
			<webobject name="RadioButton3"/><webobject name="ImageButton3"/>&nbsp;&nbsp;
			<webobject name="RadioButton4"/><webobject name="ImageButton4"/>
		</td>
		<td align="left" rowspan="2" valign="TOP">
			<webobject name="SWImageHyperlink1"/>
		</td>
	</tr><tr>
		<td valign="top" colspan="2">
			<webobject name="SWTextEditing1"/>
		</td>
	</tr>
</table>
<webobject name = "LinkPictureList"/>
<!-- end SWEditStandardComponent -->