<webobject name=condHasVideos><div class="swyoutubelist_list">
	<webobject name=repVideos>
		<div class="<webobject name=strVideoClass></webobject>">
			<div class="swyoutubelist_thumbnail">
				<a href="<webobject name=strPlaybackUrl></webobject>"><webobject name=imgThumbnail/></a>
			</div>
			<div class="swyoutubelist_videoinfo">
				<p class="swyoutubelist_title"><a href="<webobject name=strPlaybackUrl></webobject>"><webobject name=strTitle/></a></p>
				<p>
					<span class="swyoutubelist_duration"><webobject name=strDuration/></span>
					&nbsp;&nbsp;&bull;&nbsp;&nbsp;
					<span class="swyoutubelist_date"><webobject name=strDate/></span>
				</p>
				<p class="swyoutubelist_description"><webobject name=strDescription/></p>
			</div>
		</div>
		<webobject name=condAddLinebreak><div class="swyoutubelist_linebreak"></div></webobject>
	</webobject>
	<div class="swyoutubelist_linebreak"></div>
	<div class="swyoutubelist_pager">
		<webobject name=condHasPrevPage>
			<div class="swyoutubelist_prevpagebtn"><a href="<webobject name=strPrevPageUrl></webobject>"><webobject name=imgPrevButton/></a></div>
		</webobject>
		<webobject name=condHasNextPage>
			<div class="swyoutubelist_nextpagebtn"><a href="<webobject name=strNextPageUrl></webobject>"><webobject name=imgNextButton/></a></div>
		</webobject>
	</div>
</div></webobject>