<!-- SWLinkPicture -->
<div style="clear: both">
	<webobject name = "LinkThumbnail"><webobject name = "Thumbnail"/></webobject>
	<table>
		<tr>
			<td>Align</td>
			<td>
				<webobject name = "RadioAlignLeft"/> left
				<webobject name = "RadioAlignCenter"/> center
				<webobject name = "RadioAlignRight"/> right
				<webobject name = "RadioAlignInline"/> inline
			</td>
		</tr><tr>
			<td>Size</td>
			<td><webobject name = "SizeList"/></td>
		</tr><tr>
			<td style="vertical-align: top;">Show Caption</td>
			<td>
				<webobject name = "ChkCaption"/><br/>
				<webobject name = "Caption"/>
			</td>
		</tr><tr>
			<td>Alt Text</td>
			<td><webobject name = "AltText"/></td>
		</tr><tr>
			<td>Link</td>
			<td>
				<webobject name = "RadioLink0"/> no link<br/>
				<webobject name = "RadioLink1"/> link to large image, size <webobject name = "SizeListLarge"/><br/>
				<webobject name = "RadioLink2"/> link to <webobject name = "Link"/>
			</td>
		</tr>
	</table>
</div>
<!-- end SWLinkPicture -->