<!-- SWEditSiteGeneralInfo -->
<table border="0" cellpadding="2" cellspacing="0" class="genericTable" align="LEFT">
	<tr>
		<th align="right"><webobject name="String1"/>:</th>
		<td colspan="2"><webobject name="TextField1"/></td>
	</tr>
	<tr>
		<th align="right"><webobject name="String3"/>:</th>
		<td><webobject name="TextField3"/></td>
	</tr>
	<webobject name = "IsAdmin">
		<tr>
			<th align="right">Hópur:</th>
			<td><webobject name="strSiteGroup"/></td>
		</tr>
		<tr>
			<th align="right"><webobject name="String2"/>:</th>
			<td colspan="2"><webobject name="TextField2"/></td>
		</tr>
		<tr>
			<th align="right"><webobject name="String4"/>:</th>
			<td><webobject name="TextField30"/></td>
		</tr>
		<tr>
			<th align="right" valign="top"><webobject name="String5"/>:</th>
			<td><webobject name="Text2"/></td>
		</tr>
		<tr>
			<th align="right" valign="top"><webobject name = "GoogleAnalyticsString"/></th>
			<td>UA-<webobject name = "GoogleAnalyticsInput"/></td>
		</tr>
		<tr>
			<th align="right" valign="top"><webobject name = "ModernusString"/></th>
			<td>
				Sub-domain&nbsp;<webobject name = "ModernusSubdomainInput"/> + .teljari.is<br/>
				Service id&nbsp;<webobject name = "ModernusServiceInput"/><br/>
				Site id&nbsp;<webobject name = "ModernusSiteInput"/>
			</td>
		</tr>
	</webobject>
	<tr>
		<td><webobject name="Hyperlink1"><webobject name="String6"/></webobject></td>
		<td align="right"><webobject name="SubmitButton2"/></td>
	</tr>
</table>

<!-- end SWSiteGeneralInfo -->