<wo:CPAdminComponentWrapper>
		<label><wo:str value="$@ls.aaTotalMemUse" />:</label> <wo:str value="$totalMemory" numberformat="0" /> MiB<br />
		<label>Max:</label> <wo:str value="$maxMemory" numberformat="0" /> MiB<br />
		<label><wo:str value="$@ls.aaEstimatedFreeMem" />:</label> <wo:str value="$freeMemory" numberformat="0" /> MiB<br />
		<label><wo:str value="$@ls.aaServerTime" />:</label> <wo:str value="$now" dateformat="%d.%m.%Y, %H:%M:%S" /><br />
		<label><wo:str value="$@ls.aaApplicationStartedAt" />:</label> <wo:str value="$statsManager.startupTime" dateformat="%d.%m.%Y, %H:%M:%S" /><br />
		<label><wo:str value="$@ls.aaNumberOfRequests" />:</label><br />
		<h2>Innskráðir notendur</h2>
		<wo:conditional condition="$sw.activeUserSessions.count">	
			<table class="table table-condensed table-striped table-bordered">
				<tr>
					<th>Stofnuð</th>
					<th>Síðast virk</th>
					<th>Notandi</th>
					<th>Stýrikerfi</th>
					<th>Vafri</th>
					<th>Útgáfa</th>
					<th>IP-tala</th>
				</tr>
				<wo:repetition list="$sw.activeUserSessions.@sortDesc.objectStore.lastTouchedDate" item="$currentSession">
					<tr>
						<td><wo:str value="$currentSession.birthDate" dateformat="%Y-%d.%m %H:%M:%S" /></td>
						<td><wo:str value="$currentSession.objectStore.lastTouchedDate" dateformat="%Y-%d.%m %H:%M:%S" /></td>
						<td><wo:str value="$currentUser.name" /></td>
						<td><wo:str value="$currentBrowser.platform" /></td>
						<td><wo:str value="$currentBrowser.browserName" /></td>
						<td><wo:str value="$currentBrowser.version" /></td>
						<td><wo:str value="$currentSession.objectStore.remoteHostAddress" /></td>
					</tr>
				</wo:repetition>
			</table>  
		</wo:conditional>
		<wo:conditional condition="$sw.activeUserSessions.count" negate="$true"><p>Engir tengdir notendur.</p></wo:conditional>
</wo:CPAdminComponentWrapper>