<wo:form>
	<fieldset>
		<legend>Kerfisstjóri</legend>
		<label><wo:str value="$@ls.gsAdminUsername" />: </label><wo:textfield value="$settings.defaultUsername" /><br />
		<label><wo:str value="$@ls.gsAdminPassword" />: </label><wo:password value="$settings.defaultPassword" /><br />
		<label><wo:str value="$@ls.gsEmailAddress" />: </label><wo:textfield value="$settings.webmasterEmail" /><br />	
	</fieldset>
	<fieldset>
		<legend>Vistun gagna</legend>
		<label><wo:str value="$@ls.gsLocationOfDocuments" />: </label><wo:textfield value="$settings.documentLocationOnDisk" /><br />
		<label><wo:str value="$@ls.gsIndexLocation" />: </label><wo:textfield value="$settings.indexLocationOndisk" /><br />
	</fieldset>
	<fieldset>
		<legend>Sérstakar síður</legend>
		<label><wo:str value="$@ls.gs404LinkingName" />: </label><wo:textfield value="$settings.noPageFoundErrorPageLinkingName" /><br />
	</fieldset>
	<fieldset>
		<legend>Ýmislegt</legend>
		<label><wo:str value="$@ls.gsSessionTimeOut" />: </label><wo:textfield value="$settings.sessionTimeOut" /><br />
	</fieldset>
	
	<label>&nbsp;</label><wo:submit action="$save" value="$@ls.gsSaveButtonTitle" />
</wo:form>