<P ALIGN=RIGHT><B><WEBOBJECT NAME=String1></WEBOBJECT></B></P>
<table>
	<tr>
		<td>SWPage id</td><td><webobject name=PageId></webobject></td><td><webobject name=SubmitButton1></webobject></td>
	</tr>
	<tr>
		<td>SWComponent id</td><td><webobject name=ComponentId></webobject></td><td><webobject name=SubmitButton2></webobject></td>
	</tr>
	<tr>
		<td>Invalidate page id</td><td><webobject name=PageId2></webobject></td><td><webobject name=SubmitButton3></webobject></td>
	</tr>
	<tr>
		<td>Invalidate component id</td><td><webobject name=ComponentId2></webobject></td><td><webobject name=SubmitButton4></webobject></td>
	</tr>
</table>