<div>
	<div class="btn-group" style="margin-bottom: 10px">
		<wo:link action="$createSubPage" class="btn btn-success"><wo:str value="$@ls.createSubPage" /></wo:link>
		<wo:conditional condition="$selectedObject.isTopLevel" negate="$true"><wo:SWPrivilegeConditional record="$selectedObject" identifier="canManagePage"><a href="#transfer" class="btn"><wo:str value="$@ls.movePage" /></a></wo:SWPrivilegeConditional></wo:conditional>
		<wo:conditional condition="$selectedObject.hasChildren"><wo:SWPrivilegeConditional record="$selectedObject" identifier="canManagePage"><wo:link class="btn" action="$reorderSubpages">Endurraða undirsíðum</wo:link></wo:SWPrivilegeConditional></wo:conditional>
		<wo:conditional condition="$selectedObject.isTopLevel" negate="$true"><wo:SWPrivilegeConditional record="$selectedObject" identifier="canDeletePage"><wo:link action="$deletePage" class="btn btn-danger" onClick="return confirm('Ertu viss?')"><wo:str value="$@ls.deletePage" /></wo:link></wo:SWPrivilegeConditional></wo:conditional>
	</div>
</div>
<div>
	<wo:SWEditPageGeneralInfo selectedObject="$selectedObject" />
</div>