<!-- SWSFLinkedFileList -->
<table class="linked_file_list" border="0" cellspacing="0" cellpadding="0">
	<tr><webobject name = "FolderList">
		<webobject name = "THTag"><webobject name = "FolderLink"><webobject name = "FolderName"/></webobject></webobject>
	</webobject></tr>
	<webobject name = "RowCount"><tr>
		<webobject name = "ColumnCount">
			<td><webobject name = "HasDocument">
				<webobject name = "ItemLink"><webobject name = "ItemIcon"/></webobject>
				<webobject name = "ItemLink"><webobject name = "ItemName"/></webobject>
				(.<webobject name = "ItemType"/> <webobject name = "ItemSize"/>)
			</webobject></td>
		</webobject>
	</webobject></tr>
</table>
<!-- end SWSFLinkedFileList -->