<!-- SWNewsAdminComponent -->
<table cellspacing="0" border="1" cellpadding="5">
	<tr>
		<th BGCOLOR="#cccccc" colspan="2"><font COLOR="#cccccc"><webobject name="String1"/></font></th>
	</tr>
	<tr>
		<td valign="top">
			<table cellspacing="2" align="center" cellpadding="2" border="0">
				<tr><th bgcolor="#cccccc" colspan="2"><webobject name="String2"/></th></tr>
				<tr><td align="right"><webobject name="String3"/>:</td><td><webobject name="PopUpButton5"/></td></tr>
				<tr>
					<td align="right"><webobject name="String4"/>:</td>
					<td>
						<button onClick="selectCategories();">Velja</button>
						<webobject name="CategoriesField"/>
						<webobject name="CategoriesRep">
							<br>
							<webobject name="CategoryID"/>
							<webobject name="CategoryPath"/>
						</webobject>
					</td>
				</tr>
				<tr><td align="right"><webobject name="String5"/>:</td><td><webobject name="TextField4"/> <webobject name="popOldestOrNewestItems"/></td></tr>
				<tr><td align="right"><webobject name="String6"/>:</td><td><webobject name="TextField3"/></td></tr>
				<tr><td align="right"><webobject name="String7"/>:</td><td><webobject name="TextField5"/></td></tr>
				<tr><td align="right"><webobject name="String8"/>:</td><td><webobject name="TextField1"/></td></tr>
				<tr><td align="right"><webobject name="String22"/>:</td><td><webobject name="CheckBox2"/></td></tr>
				<tr><td align="right">Birta eingöngu óliðnar fréttir:</td><td><webobject name="chkShowOnlyFutureItems"/></td></tr>
				<tr><td align="right"><webobject name="String23"/>:</td><td><webobject name="CheckBox3"/></td></tr>
				<tr>
					<td align="right">Leit eftir:</td>
					<td>
						<webobject name="chkSearchByMonth"/> Mánuði, fyrir <webobject name="popMonthSearchLocation"/>, form <webobject name="popMonthSearchType"/><br>
						<webobject name="chkSearchByYear"/> Ártali, fyrir <webobject name="popYearSearchLocation"/>, form <webobject name="popYearSearchType"/>
					</td>
				</tr>
				<tr><td align="right"><webobject name="String9"/>:</td><td><webobject name="PopUpButton3"/></td></tr>
				<tr><td align="right"><webobject name="String10"/>:</td><td><webobject name="PopUpButton1"/></td></tr>
				<tr><td align="right"><webobject name="String24"/>:</td><td><webobject name="TextField9"/></td></tr>
				<tr><td align="right"><webobject name="String26"/>:</td><td>
					<webobject name="CheckBox4"/>&nbsp;Vefsl&oacute;&eth;<br>
					<webobject name="CheckBox5"/>&nbsp;&Uacute;rdr&aacute;ttur<br>
					<webobject name="CheckBox7"/>&nbsp;H&ouml;fundur<br>
					<webobject name="CheckBox8"/>&nbsp;Mynd &iacute; m&ouml;ppu <webobject name="efPictFolderNo"/>
				</td></tr>
				<tr><td align="right"><webobject name="NewNewsItemAutoPublished"/>:</td><td><webobject name="CheckBoxNewNewsItemAutoPublished"/></td></tr>
			</table>
		</td>
		<td valign="top">
			<table cellspacing="2" align="center" cellpadding="2" border="0">
				<tr><th BGCOLOR="#cccccc" colspan="2"><webobject name="String11"/></th></tr>
				<tr><td align="right"><webobject name="String12"/>:</td><td><webobject name="CheckBox1"/><webobject name="PopUpButton6"/></td></tr>
				<tr><td align="right">Sýna millifyrirsögn pr. dag:</td><td><webobject name="ShowPerDayHeaderChk"/></td></tr>
				<tr><td align="right"><webobject name="ShowDateString"/>:</td><td><webobject name="PopDateOptions"/></td></tr>
				<tr><td align="right">Form dagsetningar:</td><td><webobject name="PopDateFormatOptions"/></td></tr>
				<tr><td align="right"><webobject name="ShowAuthorStr"/>:</td><td><webobject name="ShowAuthorChk"/></td></tr>
				<tr><td align="right">S&yacute;na "Eftir " fyrir framan h&ouml;fund:</td><td><webobject name="ShowAuthorLabelChk"/></td></tr>
				<tr>
					<td align="right" valign="top"><webobject name="String14"/>:</td>
					<td>
						<webobject name="RadioButton3"/><webobject name="String19"/><br>
						<webobject name="RadioButton4"/><webobject name="String25"/><br>
						<webobject name="RadioButton2"/><webobject name="String20"/><br>
						<webobject name="RadioButton1"/><webobject name="String21"/><br>
					</td>
				</tr>
				<tr><td align="right"><webobject name="String15"/>:</td><td><webobject name="TextField8"/></td></tr>
				<tr><td align="right"><webobject name="String16"/>:</td><td><webobject name="TextField7"/></td></tr>
				<tr><td align="right"><webobject name="String17"/>:</td><td><webobject name="TextField2"/></td></tr>
				<tr><td align="right"><webobject name="String18"/>:</td><td><webobject name="TextField6"/></td></tr>
				<tr><td align="right"><webobject name="FormTitleString"/></td><td><webobject name="TextField10"/></td></tr>
				<tr><td align="right"><webobject name="MoreOnTitleString"/></td><td><webobject name="MeiraATitliCheck"/></td></tr>
				<tr><td align="right"><webobject name="MoreOnExcerptString"/></td><td><webobject name="MeiraAUrdraettiCheck"/></td></tr>
				<tr><td align="right"><webobject name="HideMoreTextString"/></td><td><webobject name="HideMoreTextCheck"/></td></tr>
				<tr><td align="right"><webobject name="ShowOlderString"/></td><td><webobject name="ShowOlderCheck"/></td></tr>
				<tr><td align="right"><webobject name="ShowOlderTextString"/></td><td><webobject name="ShowOlderText"/></td></tr>
				<tr><td align="right"><webobject name="ShowOlderPageString"/></td><td><webobject name="ShowOlderPage"/></td></tr>
				<tr><td align="right">Skráningardags. á eftir frétt</td><td><webobject name="ShowSkradDagsChk"/> Texti: <webobject name=SkradDagsLabel/></td></tr>
				<tr><td align="right"><webobject name="ShowUtilsString"/></td><td><webobject name="ShowUtilsChk"/></td></tr>
				<tr><td align="right"><webobject name="ShowHorizontalLineString"/></td><td><webobject name="ShowHorizontalLineChk"/></td></tr>
			</table>
		</td>
	</tr>
</table>
<br>
<script type="text/javascript">
	function selectCategories()
	{
		var extraCategories = document.getElementById('extraCategoriesField').value;
		window.open('<webobject name="CatSelWinUrl"/>'+extraCategories, '', 'width=400,height=500,resizable=yes,scrollbars=yes');
	}
</script>
<!-- end SWNewsAdminComponent -->