<wo:switch WOComponentName="$lookName">
	<wo:if condition="$userToResetPasswordFor">
		<h2>Endurstilling aðgangsorðs</h2>
		<wo:if condition="$hasReset" negate="$true">
			<div class="alert alert-info">Sláðu inn nýtt aðgangsorð fyrir notandann: <wo:str value="$userToResetPasswordFor.emailAddress" /></div>
			<wo:if condition="$message.length">
				<div class="alert alert-error">Þú verður að slá inn aðgangsorð</div>
			</wo:if>
			<wo:form>
				<wo:password value="$password" placeholder="Aðgangsorð" /><br />
				<wo:submit action="$resetPassword" class="btn" value="Endurstilla aðgangsorð" />
			</wo:form>
		</wo:if>
		<wo:if condition="$hasReset">
			<div class="alert alert-success">Endurstilling aðgangsorðs heppnaðist. Þú hefur nú verið skráð(ur) inn.</div>
		</wo:if>
	</wo:if>
	<wo:if condition="$userToResetPasswordFor" negate="$true">
		<div class="alert alert-info">Engin beiðni fannst með þessu kenni. Athugið að aðgangsorði þarf að breyta innan sólarhrings eftir að breytingarinnar er óskað</div>
	</wo:if>
</wo:switch>