<!-- SWSliderAdmin -->
<div>
  <fieldset>
    <legend>Framsetning</legend>
    <p><webobject name = "popFramsetning" /></p>
  </fieldset>
  <webobject name = "condImageSlider">
    <fieldset>
      <legend>Myndir &uacute;r m&ouml;ppu myndar</legend>
      <p>Mynd <webobject name = "swpicMynd" /></p>
    </fieldset>
  </webobject>
  <webobject name = "condNewsSlider">
    <fieldset>
      <legend>Fr&eacute;ttir &uacute;r fr&eacute;ttam&ouml;ppu</legend>
      <p>N&uacute;mer fr&eacute;ttam&ouml;ppu <webobject name = "efNumerFrettamoppu" /></p>
      <p>Hámarksfjöldi frétta <webobject name="efHamarksfjoldiFretta"/></p>
      <p>Birtingarstílsnið frétta <webobject name = "efStilsnidFretta" /></p>
      <p>Hlekkjunarheiti birtingarsíðu frétta <webobject name = "efBirtingarsidaFretta" /></p>
    </fieldset>
  </webobject>
  <webobject name = "condComponentSlider">
    <fieldset>
      <legend>B&uacute;tar af s&iacute;&eth;u</legend>
      <p>Hlekkjunarheiti s&iacute;&eth;u <webobject name = "efHlekkjunarheitiSidu" /></p>
    </fieldset>
  </webobject>
  <fieldset>
    <legend>Aðrar stillingar</legend>
    <p>Breidd: 
      <webobject name = "efBreidd" />
      &nbsp; H&aelig;&eth;: 
      <webobject name = "efHaed" />
    </p>
    <p>Bi&eth; milli flettinga (sek&uacute;ndur): 
      <webobject name = "SlideShowDelay" />
      (0 handvirkt &gt;0 sj&aacute;lfvirkt)</p>
    <p>Hra&eth;i flettingar (sek&uacute;ndur), l&aelig;gri tala = meiri hra&eth;i: <webobject name = "SlideShowSpeed" /></p>
    <p>Flettitegund: <webobject name = "popFlettitegund" /></p>
    <p>Sýna flettipunkta: <webobject name = "chkSynaFlettipunkta"/></p>
  </fieldset>
</div>
<!-- End SWSliderAdmin -->