<!-- SWMiniCalendar -->
<webobject name = "HolderDiv">
  <div id = "SWMiniCalendar_title">Atbur&eth;adagatal</div>
  <!-- The calendar itself -->
  <table id = "SWMiniCalendar_maintable" summary = "Dagatal">
    <tr id = "SWMiniCalendar_maintablehdrrow">
      <webobject name = "Repetition3">
        <th id = "SWMiniCalendar_maintablehdrcell"><webobject name = "String1" /></th>
      </webobject>
    </tr>
    <webobject name = "Repetition1">
      <tr id = "SWMiniCalendar_maintablerow">
        <webobject name = "Repetition2">
          <webobject name = "Conditional1">
            <webobject name = "Conditional2">
              <td id = "SWMiniCalendar_maintablecell">
                <webobject name = "Hyperlink3"><webobject name = "String2" /></webobject>
              </td>
            </webobject>
            <webobject name = "Conditional4">
              <td id = "SWMiniCalendar_maintablecell">
                <webobject name = "Hyperlink7"><webobject name = "String2" /></webobject>
              </td>
            </webobject>
          </webobject>
          <webobject name = "Conditional3">
            <webobject name = "Conditional2">
              <td id = "SWMiniCalendar_maintablecell">
                <webobject name = "Hyperlink6"><webobject name = "String10" /></webobject>
              </td>
            </webobject>
            <webobject name = "Conditional4">
              <td id = "SWMiniCalendar_maintablecell">
                <webobject name = "Hyperlink8"><webobject name = "String10" /></webobject>
              </td>
            </webobject>
          </webobject>
        </webobject>
      </tr>
    </webobject>
  </table>
  <!-- The month selection bar -->
  <table id = "SWMiniCalendar_monthscroll" width = "100%">
    <tr id = "SWMiniCalendar_monthscrollrow">
      <td id = "SWMiniCalendar_monthscrollcell">
        <webobject name = "Hyperlink1">&lt;</webobject>
      </td>
      <td id = "SWMiniCalendar_monthscrollcell" align = "CENTER">
        <webobject name = "String3" />
        <webobject name = "String7" />
      </td>
      <td id = "SWMiniCalendar_monthscrollcell">
        <webobject name = "Hyperlink2">&gt;</webobject>
      </td>
    </tr>
  </table>
  <!-- The "skoda dagatal" link -->
  <div id = "SWMiniCalendar_skodadagatal">
    <center>
      <webobject name = "Hyperlink5">Sko&eth;a dagatal</webobject>
    </center>
  </div>
  <!-- A spacing box -->
  <div id = "SWMiniCalendar_spacingbox" style = "border: none; height: 10px;"></div>
  <!-- Show the selected day -->
  <webobject name = "Conditional2">
    <div id = "SWMiniCalendar_calendarDayList">
      <b>
        <webobject name = "String4" />. 
        <webobject name = "String5" />
        <webobject name = "String6" />
      </b>
      <webobject name = "Repetition4">
        <p>
          <b><webobject name = "String9" /></b>
          <webobject name = "String8" />
          <webobject name = "Hyperlink4">Meira...</webobject>
        </p>
      </webobject>
    </div>
  </webobject>
</webobject>
<!-- end SWMiniCalendar -->