<wo:form enctype="multipart/form-data">
	<table cellspacing="0" class="genericTable" cellpadding="2" border="0">
		<tr>
			<th colspan="2"><b><wo:str value="$selectedAsset.name" /></b> (<wo:str value="$selectedAsset.primaryKey" />)</th>
		</tr><tr>
			<th align="right"><wo:str value="$session.@ls.pictureUploadName" />:</th>
			<td>
				<wo:textfield value="$assetName" size="60" />
			</td>
		</tr>
		<wo:if condition="$selectedAsset.displayName.length">
			<wo:if condition="$hasDataButNoType">
				<tr>
					<th align="right"><wo:str value="$session.@ls.pictureUploadType"/>:</th>
					<td>
						<wo:str value="$selectedAsset.documentType.name" />
						<wo:if condition="$hasDataButNoType"><div style="background-color: #fc8; padding: 2px">Varúð, tegund skjals (<wo:str value="$selectedAsset.extension" />) er óþekkt</div></wo:if>
					</td>
				</tr>
			</wo:if>
		</wo:if>
		<tr>
			<th align="right"><webobject name="PictureUploadURLStr"/>:</th>
			<td><webobject name="HeitiField1"/></td>
		</tr><tr>
			<th align="right"><webobject name="PictureUploadSelectFromDiskStr"/>:</th>
			<td><webobject name="Upload"/></td>
		</tr>
		<wo:if condition="$isPicture">
			<tr>
				<th align="right"><webobject name="PictureSizesStr"/></th>
				<td><wo:SWPreviewSizePicker available="$availableSizes" selected="$selectedAsset.previewSizesList" /></td>
			</tr>
			<tr>
				<th align="right"><webobject name="PictureDescriptionStr"/>:</th>
				<td><webobject name="PictureDescription"/></td>
			</tr>
			<tr>
				<th align="right"><webobject name="PictureAltTextStr"/>:</th>
				<td><webobject name="PictureAltText"/></td>
			</tr>
		</wo:if>
		<wo:if condition="$isDocument">
			<tr>
				<th align="right"><webobject name="DocumentLinkKeyStr"/>:</th>
				<td><webobject name="InpLinkKey"/></td>
			</tr>
		</wo:if>
		<tr>
			<th>
				<webobject name="IsZipFileCond"><webobject name="Hyperlink1">Expand zip file</webobject></webobject>
				<wo:if condition="$isDocument"><webobject name="Hyperlink2">Edit as text</webobject></wo:if>
				&nbsp;
			</th>
			<td align="right"><webobject name="SubmitButton1" /></td>
		</tr>
		<wo:if condition="$isPicture">
			<tr><td colspan="2">
				<table width="100%"><tr>
					<td width="5">
						<webobject name="ImageEditorLink"><webobject name="PreviewImage" /></webobject>
					</td>
					<td>
						Frummynd: <webobject name="ImageWidthStr" /> x <webobject name="ImageHeightStr" /><br>
						Stærðir: <webobject name="SizesStr" />
					</td>
				</tr></table>
			</td></tr>
		</wo:if>
	</table>
</wo:form>