<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<th colspan="2">Leit</th>
	</tr>
	<tr>
		<td>Leita &iacute; veftr&eacute; fr&aacute;</td>
		<td><webobject name = "InpBranchId"/> (n&uacute;mer s&iacute;&eth;u e&eth;a autt)</td>
	</tr>
	<tr>
		<td>Fr&eacute;ttam&ouml;ppur</td>
		<td><webobject name = "InpNewsFolders"/> (N&uacute;mer a&eth;skilin me&eth; kommu e&eth;a autt)</td>
	</tr>
	<tr>
		<td>St&aelig;r&eth; textasv&aelig;&eth;is</td>
		<td><webobject name = "InpFieldSize"/></td>
	</tr>
	<tr>
		<td>Sj&aacute;lfgefinn texti</td>
		<td><webobject name = "InpDefaultText"/></td>
	</tr>
	<tr>
		<td>Texti &aacute; undan</td>
		<td><webobject name = "InpTextBefore"/></td>
	</tr>
	<tr>
		<td>Hnappur fyrir aftan</td>
		<td><webobject name = "ChkButton"/> <webobject name = "InpButtonLabel"/> (Texti á hnapp, ef autt þá Leita)</td>
	</tr>
	<tr>
		<td>Myndahnappur fyrir aftan</td>
		<td><webobject name = "ChkImageButton"/> <webobject name = "InpImageID"/> (N&uacute;mer myndar e&eth;a autt)</td>
	</tr>
	<tr>
		<td>Hlekkjunarheiti fréttabirtingarsíðu</td>
		<td><webobject name = "InpNewsDisplayPageSymbol"/></td>
	</tr>
	<!-- <tr>
		<td>Leitarni&eth;ursta&eth;a</td>
		<td><webobject name = "InpHlekkjunarheiti"/> Hlekkjunarheiti s&iacute;&eth;u</td>
	</tr> -->
</table>