<!-- SWTabPanel -->
<webobject name = "hasNotMultipleTabsConditional">
  <webobject name = "TABLE1">
    <tr>
      <td>
        <table cellspacing = "0" border = "0" cellpadding = "0">
          <tr>
            <webobject name = "Repetition1">
              <td><webobject name = "SubmitButton1" /></td>
            </webobject>
          </tr>
        </table>
      </td>
    </tr>
  </webobject>
  <webobject name = "TABLE2">
    <tr>
      <td valign = "top"><webobject name = "ComponentContent1" /></td>
    </tr>
  </webobject>
</webobject>
<webobject name = "Conditional1"><webobject name = "ComponentContent2" /></webobject>
<!-- end SWTabPanel -->