<WEBOBJECT NAME=SWAdminComponentWrapper1>
	<!-- SWManageSettings -->
	<TABLE CELLSPACING=0 CELLPADDING=2 BORDER=0 WIDTH="100%">
		<TR>
			<TD ALIGN=RIGHT VALIGN=TOP>
				<FONT SIZE=4><WEBOBJECT NAME=String1></WEBOBJECT></FONT>
			</TD>
		</TR>
	</TABLE>
	<CENTER>
		<BR><WEBOBJECT NAME=Conditional2>
			<WEBOBJECT NAME=Form3>
				<WEBOBJECT NAME=TabPanel1>
					<WEBOBJECT NAME=SwitchComponent1></WEBOBJECT>
				</WEBOBJECT>
			</WEBOBJECT>
		</WEBOBJECT>
		<WEBOBJECT NAME=Conditional3>
			<B><WEBOBJECT NAME=String2></WEBOBJECT></B><BR><BR>
			<WEBOBJECT NAME=Form1>
				<WEBOBJECT NAME=String3></WEBOBJECT>: System settings can no longer be specified here.<WEBOBJECT NAME=SubmitButton3></WEBOBJECT>
			</WEBOBJECT>
		</WEBOBJECT>
	</CENTER>
	<!-- end SWManageSettings -->
</WEBOBJECT>
