<!-- SWUserManagement -->
<table cellspacing="0" cellpadding="2" class="genericTable" border="0">
	<tr>
		<th align="right"><b><webobject name="String2"/>:</b></th>
		<td><webobject name="TextField1"/></td>
	</tr>
	<tr>
		<th align="right"><b><webobject name="String3"/>:</b></th>
		<td><webobject name="TextField3"/></td>
	</tr>
	<tr>
		<th align="right"><b><webobject name="String4"/>:</b></th>
		<td><webobject name="PasswordField1"/></td>
	</tr>
	<tr>
		<th align="right"><b><webobject name="String5"/>:</b></th>
		<td><webobject name="TextField2"/></td>
	</tr>
	<tr>
		<th align="right"><b><webobject name="String6"/>:</b></th>
		<td><webobject name="PopUpButton2"/></td>
	</tr>
	<tr>
		<th align="right" valign="top"><b><webobject name="String7"/>:</b></th>
		<td><webobject name="Text1"/></td>
	</tr>
	<tr>
		<th align="right" valign="top"><b><webobject name="String8"/>:</b></th>
		<td><webobject name="SWImageHyperlink1"/></td>
	</tr>
	<tr>
		<th align="right"><b><webobject name="String9"/>:</b></th>
		<td><webobject name="CheckBox1"/></td>
	</tr>
	<tr>
		<th align="right"><b><webobject name="String10"/>:</b></th>
		<td><webobject name="PopUpButton1"/>&nbsp;<webobject name="SubmitButton1"/></td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<td>
			<table cellspacing="0" cellpadding="2" class="genericTable" border="0">
				<webobject name="Repetition3">
					<webobject name="GenericContainer2">
						<td width="16"><webobject name="Image1"/></td>
						<td width="280"><webobject name="Hyperlink4"><webobject name="String1"/></webobject></td>
						<td width="10"><webobject name="Hyperlink3">X</webobject></td>
					</webobject>
				</webobject>
			</table>
		</td>
	</tr>
	<tr>
		<th><webobject name="Hyperlink1"><webobject name="String11"/></webobject></th>
		<td align="right"><webobject name="SubmitButton8"/></td>
	</tr>
</table>
<!-- end SWUserManagement -->