<table cellspacing="0" cellpadding="0" border="0">
	<tr>
		<th colspan="2">Leitarniðurstöður</th>
	</tr>
	<tr>
		<td>Leita &iacute; veftr&eacute; fr&aacute;</td>
		<td><webobject name = "InpBranchId"/> (n&uacute;mer s&iacute;&eth;u e&eth;a autt)</td>
	</tr>
	<tr>
		<td>Fr&eacute;ttam&ouml;ppur</td>
		<td><webobject name = "InpNewsFolders"/> (N&uacute;mer a&eth;skilin me&eth; kommu e&eth;a autt)</td>
	</tr>
	<tr>
		<td>Hlekkjunarheiti fréttabirtingarsíðu</td>
		<td><webobject name = "InpNewsDisplayPageSymbol"/></td>
	</tr>
	<tr>
		<td>Sýna 'Leita aftur'</td>
		<td><webobject name=chkShowSearchAgain/></td>
	</tr>
</table>