<WEBOBJECT NAME=SWAdminComponentWrapper1>
	<TABLE WIDTH=100% BORDER=0 CELLSPACING=0 CELLPADDING=2>
		<TR>
			<TD><WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=String3></WEBOBJECT></WEBOBJECT><BR></TD>
			<TD ALIGN=RIGHT VALIGN=TOP><FONT SIZE=4><WEBOBJECT NAME=String4></WEBOBJECT></FONT></TD>
		</TR>
		<TR>
			<TD>
				<WEBOBJECT NAME=String1></WEBOBJECT> &quot;<B><WEBOBJECT NAME=ResetHitCount></WEBOBJECT></B>&quot; 
				<WEBOBJECT NAME=String2></WEBOBJECT><BR>
				<WEBOBJECT NAME=Form1>
					<WEBOBJECT NAME=CheckBox1></WEBOBJECT><WEBOBJECT NAME=String5></WEBOBJECT>
				</WEBOBJECT>
				<TABLE CELLPADDING=5 CELLSPACING=0 WIDTH=250 BORDER=1>
					<TR>
						<TD><SPAN CLASS=transferTree><WEBOBJECT NAME=SWSiteListing1></WEBOBJECT></SPAN></TD>
					</TR>
				</TABLE>
			</TD>
			<TD></TD>
		</TR>
	</TABLE>
</WEBOBJECT>