<WEBOBJECT NAME="DisplayConditional">

	<WEBOBJECT NAME="DisplayType1Conditional">
		<WEBOBJECT NAME="TitleConditional">
			<H1><WEBOBJECT NAME="Title"></WEBOBJECT></H1>
		</WEBOBJECT>
	
		<WEBOBJECT NAME="NewsItemRepetition">
			<P>
				<SPAN CLASS="swmininewslist_itemtitle">
					<WEBOBJECT NAME="NewsItemLink"><WEBOBJECT NAME="NewsItemTitle"></WEBOBJECT></WEBOBJECT>&nbsp;
				</SPAN>
				<SPAN CLASS="swmininewslist_itemdate">(<WEBOBJECT NAME="NewsItemDate"></WEBOBJECT>)</SPAN><BR>
				<WEBOBJECT NAME="ShowTextInList"><SPAN CLASS="swmininewslist_itemtext"><WEBOBJECT NAME="NewsItemText"></WEBOBJECT></SPAN></WEBOBJECT>
			</P>
		</WEBOBJECT>
		
		<WEBOBJECT NAME="OldNewsLinkConditional">
			<P><SPAN CLASS="swmininewslist_oldnewslink"><WEBOBJECT NAME="OldNewsLink"><WEBOBJECT NAME="OldNewsLinkName"></WEBOBJECT></WEBOBJECT></SPAN></P>
		</WEBOBJECT>
	</WEBOBJECT>

	<WEBOBJECT NAME="DisplayType2Conditional">
		<WEBOBJECT NAME="TitleConditional">
			<H1><WEBOBJECT NAME="Title"></WEBOBJECT></H1>
		</WEBOBJECT>
	
		<WEBOBJECT NAME="NewsItemRepetition">
			<P>
				<SPAN CLASS="swmininewslist_itemdate"><WEBOBJECT NAME="NewsItemDate"></WEBOBJECT></SPAN><BR>
				<WEBOBJECT NAME="ShowTextInList"><SPAN CLASS="swmininewslist_itemtext"><WEBOBJECT NAME="NewsItemText"></WEBOBJECT></SPAN><BR></WEBOBJECT>
				<SPAN CLASS="swmininewslist_itemtitle">
					<WEBOBJECT NAME="NewsItemLink"><WEBOBJECT NAME="NewsItemTitle"></WEBOBJECT></WEBOBJECT><BR>
				</SPAN>
			</P>
		</WEBOBJECT>
		
		<WEBOBJECT NAME="OldNewsLinkConditional">
			<P><SPAN CLASS="swmininewslist_oldnewslink"><WEBOBJECT NAME="OldNewsLink"><WEBOBJECT NAME="OldNewsLinkName"></WEBOBJECT></WEBOBJECT></SPAN></P>
		</WEBOBJECT>
	</WEBOBJECT>

</WEBOBJECT>