<wo:SWAdminComponentWrapper>
		<div style="width: 200px; margin: 0px auto">
		<wo:if condition="$message.length"><div class="alert alert-danger"><wo:str value="$message" /></div></wo:if>
		<wo:form>
			<fieldset>
				<legend><wo:str value="$@ls.mySettingsHeader" /></legend>
			    <label>Nýtt aðgangsorð: </label><wo:password value="$password" /><br />
			    <label>Nýtt aðgangsorð aftur: </label><wo:password value="$passwordAgain" /><br />
		    	<label><wo:str value="$@ls.msDefaultSite" />: </label><wo:popUpButton list="$sites" item="$currentSite" displayString="$currentSite.name" selection="$user.defaultSite" noSelectionString="No site selected..." /><br />
		    	<label>&nbsp;</label><wo:submit action="$saveChanges" value="$@ls.msSaveButtonTitle" />
		    </fieldset>
		</wo:form>
		</div>
</wo:SWAdminComponentWrapper>