<!-- SWYouTubeListAdmin -->
<div>
  <fieldset>
    <legend>Stillingar</legend>
    <p>Myndbönd frá notanda <webobject name = "efUserId" /></p>
    <p>Hámarksbreidd á preview mynd <webobject name = "efMaxPreviewImageWidth" /></p>
    <p><webobject name=chkScalePreviewImage/> Skala preview mynd í hámarksbreiddina</p>
    <p>Fjöldi myndbanda í línu í listanum <webobject name="efVideosPerLine"/></p>
    <p>Hámarksfjöldi myndbanda í listanum <webobject name="efMaxVideosInList"/></p>
    <p>Hlekkjunarheiti spilunarsíðu <webobject name="efPlaybackPageName"/></p>
  </fieldset>
</div>
<!-- End SWYouTubeListAdmin -->