<!-- SWSFAdminComponent -->
<br />
<table cellspacing="0" align="center" cellpadding="5" border="1">
	<tr>
		<th bgcolor="#cccccc"><webobject name="documentComponentHeading"/></th>
	</tr><tr>
		<td>
			<table cellspacing="0" border="0" cellpadding="2">
				<tr>
					<td align="right"><webobject name="documentselectFieldTitle"/>:</td>
					<td><webobject name="DocumentLink">
						<webobject name="HasSelectedDocument"><webobject name="SWImage1"/><b><webobject name="documentName"/></b></webobject>
						<webobject name="NoSelectedDocument"><webobject name="documentNoDocumentSelectedString"/></webobject>
					</webobject></td>
				</tr><tr>
					<td align="right"><webobject name="String4"/>:</td>
					<td><webobject name="PopUpButton1"/></td>
				</tr><webobject name="IsList"><tr>
					<td align="right"><webobject name="String8"/></td>
					<td><webobject name="ChkReverseOrder"/></td>
				</tr></webobject><tr>
					<td align="right"><webobject name="String5"/>:</td>
					<td><webobject name="ChkDisplayIcon"/></td>
				</tr><tr>
					<td align="right"><webobject name="String6"/>:</td>
					<td><webobject name="TextField1"/></td>
				</tr><tr>
					<td align="right"><webobject name="StrForceDownload"/>:</td>
					<td><webobject name = "ChkForceDownload"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table><br />
<!-- end SWSFAdminComponent -->