<wo:repetition list="$attributes" item="$currentAttribute">
	<div class="form-group">
		<div class="form-group">
			<wo:IMLabel entity="$selectedObject.entity" key="$currentAttribute.name" />
			<wo:if condition="$attributeIsShortString"><wo:textfield class="col-md-4" value="$currentAttributeValue" class="form-control" /></wo:if>
			<wo:if condition="$attributeIsLongString"><wo:text class="col-md-4" value="$currentAttributeValue" class="form-control" /></wo:if>
			<wo:if condition="$attributeIsInteger"><wo:textfield class="col-md-4" value="$currentAttributeValue" numberformat="#,##0.##" class="form-control" /></wo:if>
			<wo:if condition="$attributeIsDecimal"><wo:textfield class="col-md-4" value="$currentAttributeValue" formatter="$decimalFormat" class="form-control" /></wo:if>
			<wo:if condition="$attributeIsTimestamp"><wo:USDateAndTimeField class="col-md-4" value="$currentAttributeValue" class="form-control" /></wo:if>
			<wo:if condition="$attributeIsData"><wo:fileUpload class="col-md-4" data="$currentAttributeValue" filePath="$filename" class="form-control" /></wo:if>
			<wo:if condition="$attributeIsBoolean"><wo:checkbox checked="$currentAttributeValue" class="form-control" /></wo:if>
		</div>
	</div>
</wo:repetition>

<wo:repetition list="$relationships" item="$currentRelationship">
	<wo:IMLabel entity="$selectedObject.entity" key="$currentRelationship.name" />
	<wo:IMRelationship object="$selectedObject" key="$currentRelationship.name" />
</wo:repetition>