<wo:CPAdminComponentWrapper>
	<wo:AjaxUpdateContainer id="main">
		<wo:if condition="$errorMessage.length">
			<div class="alert alert-danger"><wo:str value="$errorMessage" /></div>
		</wo:if>
		<wo:form role="form" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-12">
					<div class="sw-edit-controls">
						<div class="sw-object-descriptor"><strong><wo:IMValue object="$selectedObject" /></strong> <span class="sw-object-id"><wo:str value="$viewDefinition.icelandicName" /> #<wo:str value="$selectedObject.primaryKey" /></span></div>
						<div class="pull-right">
							<div class="btn-group">
								<a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><wo:link action="$viewTransactions"><i class="glyphicon glyphicon-list-alt"></i> Opna hreyfingasögu</wo:link></li>
									<li><wo:ViewLink object="$selectedObject"><i class="glyphicon glyphicon-eye-open"></i> Opna á vefnum</wo:ViewLink></li>
									<li><wo:link action="$editGeneric"><i class="glyphicon glyphicon-list-alt"></i> Opna í almennu viðmóti</wo:link></li>
								</ul>
							</div>
							<wo:AjaxModalContainer label="Eyða" closeLabel="Hætta við" class="btn btn-sm btn-danger"><div style="padding: 10px; text-align: center"><p>Ertu viss um að þú viljir eyða færslunni &quot;<strong><wo:IMValue object="$selectedObject" /></strong>&quot;?</p><p align="center"><wo:link action="$deleteObject" class="btn btn-danger"><i class="glyphicon glyphicon-trash icon-white"></i> Já, ég vil eyða þessari færslu</wo:link></p></div></wo:AjaxModalContainer>
							<wo:link action="$returnToCallingComponent" class="btn btn-sm btn-default">Til baka</wo:link>
							<wo:submit action="$saveChangesAndReturn" class="btn btn-sm btn-default" value="Vista og loka" />
							<wo:AjaxSubmitButton action="$saveChanges" updateContainerID="main" class="btn btn-sm btn-primary" value="Vista" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<wo:switch WOComponentName="$displayComponentName" callingComponent="$callingComponent" selectedTab="$selectedTab" selectedObject="$selectedObject" />
				</div>
			</div>
		</wo:form>
	</wo:AjaxUpdateContainer>
</wo:CPAdminComponentWrapper>