<webobject name = "SwitchComponent1">
  <!-- SWPasswordFieldComponent -->
  <webobject name = "Form1">
    <table border = "0">
      <tr>
        <td colspan = "2"><webobject name = "String1" /></td>
      </tr>
      <tr>
        <td>Notandanafn:</td>
        <td><input name = "username" size = "20" /></td>
      </tr>
      <tr>
        <td>Lykilor&eth;:</td>
        <td><input type = "PASSWORD" name = "pw" size = "20" /></td>
      </tr>
      <tr>
        <td colspan = "2" align = "right"><webobject name = "SubmitButton1" /></td>
      </tr>
    </table>
  </webobject>
  <!-- end SWPasswordFieldComponent -->
</webobject>