<webobject name = "IsInForm">
	<div style="border: 1px solid black; padding: 20px; text-align: center;">Leitarb&uacute;tur</div>
</webobject>
<webobject name = "IsNotInForm">
	<script language = "javascript">
	  function clearField<webobject name = "ComponentID"></webobject>() { 
	  	document.searchForm<webobject name = "ComponentID"></webobject>.searchString.value = ""; 
	  	document.searchForm<webobject name = "ComponentID"></webobject>.searchString.style.color = "black";
	  } 
	</script>
	
	<div class = "search">
	  <webobject name = "Form1">
	    <webobject name = "HasTextBefore"><span class = "textBefore"><webobject name = "TextBefore" /></span></webobject>
	    <webobject name = "Input" />
	    <webobject name="ShowNormalButton">
	    	<input type="submit" value = "<webobject name=strNormalButtonLabel></webobject>">
	    </webobject>
	    <webobject name="ShowImageButton"><webobject name = "ImageButton" /></webobject>
	  </webobject>
	</div>
</webobject>
