<webobject name="SWAdminComponentWrapper1">
	<!-- SWSiteTree -->
	<table border="0" style="width:100%;">
		<tr>
			<td style="text-align:center;">
				<webobject name="Conditional1">
					<table style="width: 100%" border="0">
						<tr>
							<td style="text-align: right;">
								<webobject name="Hyperlink1"><webobject name="String1"/></webobject>
							</td>
						</tr>
					</table>
				</webobject>
				<table border="0" style="width: 100%">
					<tr>
						<td>
							<span class="sitetree">
								<webobject name="SWSiteListing1"/>
							</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- end SWSiteTree -->
</webobject>