<!-- SWGroupManagement -->
<TABLE CELLSPACING=0 CELLPADDING=2 CLASS=genericTable BORDER=0>
	<TR>
		<TH ALIGN=RIGHT><B><WEBOBJECT NAME=String1></WEBOBJECT>:</B></TH>
		<TD COLSPAN=3><WEBOBJECT NAME=TextField1></WEBOBJECT></TD>
	</TR>
	<TR>
		<TH ALIGN=RIGHT><B><WEBOBJECT NAME=String3></WEBOBJECT>:</B></TH>
		<TD COLSPAN=3><WEBOBJECT NAME=PopUpButton1></WEBOBJECT>&nbsp;<WEBOBJECT NAME=SubmitButton3></WEBOBJECT></TD>
	</TR>
	<TR>
		<TH>&nbsp;</TH>
		<TD COLSPAN=3>
			<TABLE CELLSPACING=0 CELLPADDING=2 CLASS=genericTable BORDER=0>
				<WEBOBJECT NAME=Repetition3>
					<WEBOBJECT NAME=GenericContainer2>
						<TD WIDTH=16><WEBOBJECT NAME=Image1></WEBOBJECT></TD>
						<TD WIDTH=280><WEBOBJECT NAME=Hyperlink1><WEBOBJECT NAME=String2></WEBOBJECT></WEBOBJECT></TD>
						<TD WIDTH=10><WEBOBJECT NAME=Hyperlink2>X</WEBOBJECT></TD>
					</WEBOBJECT>
				</WEBOBJECT>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TH><WEBOBJECT NAME=Hyperlink3><WEBOBJECT NAME=String4></WEBOBJECT></WEBOBJECT></TH>
		<TD ALIGN=RIGHT><WEBOBJECT NAME=SubmitButton5></WEBOBJECT></TD>
	</TR>
</TABLE>
<!-- end SWGroupManagement -->