<webobject name="SWAdminComponentWrapper1">
	<TABLE WIDTH=100% BORDER=0 CELLSPACING=0 CELLPADDING=2>
		<TR>
			<TD><webobject name="Hyperlink2"><webobject name="String4" /></webobject><BR></TD>
			<TD ALIGN=RIGHT VALIGN=TOP><FONT SIZE=4><webobject name=String3></webobject></FONT></TD>
		</TR>
		<TR>
			<TD>
				<webobject name=String1></webobject> &quot;<B><webobject name=ResetHitCount3></webobject></B>&quot; <webobject name=String2></webobject>
				<BR>
				<webobject name=CanCopyCond>
					<webobject name=Form1>
						<webobject name=CheckBox1></webobject><webobject name=String5></webobject>
					</webobject>
				</webobject>
				<webobject name=CanNotCopyCond>
					<BR>
				</webobject>
				<webobject name=SWFolderList1></webobject>
			</TD>
			<TD></TD>
		</TR>
	</TABLE>
</webobject>