<div style="clear: both; text-align: center; font-weight: bold; padding: 20px; width: 600px;">
	SWDefaultLook6 custom pages
</div>
<table border="0" cellspacing="0" cellpadding="0"><tr><td style="padding-right: 10px;">
	<table border="0" cellspacing="0" cellpadding="4" style="border-collapse: collapse; width: 600px;">
		<tr>
			<td colspan="3" style="border:1px solid; text-align:center; height: 40px;">
				<webobject name = "InpSWHeader"/>
				<webobject name = "ChkSWPageInLanguageNavigator"/> Tungumálaskiptir
			</td>
		</tr>
		<tr>
			<td style="border: 1px solid; text-align: center;"><webobject name = "InpSWTopLeft"/></td>
			<td style="border: 1px solid; text-align: center;">
				<webobject name = "InpSWTopNavigation"/> 
				<webobject name = "ChkSwTopNavigationDropDown"/> Fellivalblað
			</td>
			<td style="border: 1px solid; text-align: center;"><webobject name = "InpSWTopExtras"/></td>
		</tr>
		<tr>
			<td colspan="3" style="border: 1px solid; text-align:center;"><webobject name = "InpSWTopper"/></td>
		</tr>
		<tr>
			<td colspand="3">&nbsp;</td>
		</tr>
		<tr>
			<td style="border: 1px solid; text-align: center;"><webobject name = "InpSWExtrasAbove"/></td>
			<td style="border: 1px solid; text-align: center;"><webobject name = "InpSWContentAbove"/></td>
			<td rowspan="3" style="border: 1px solid; height: 200px; text-align: center;"><webobject name = "InpSWColumn"/></td>
		</tr>
		<tr>
			<td style="border: 1px solid; height: 150px; text-align: center;">
				<p><webobject name = "InpSWNavigation"/></p>
				<p><webobject name = "InpSWLeftColumn"/></p>
			</td>
			<td style="text-align: center; width: 50%;">Content</td>
		</tr>
		<tr>
			<td style="border: 1px solid; text-align: center;"><webobject name = "InpSWExtras"/></td>
			<td style="border: 1px solid; text-align: center;"><webobject name = "InpSWContentBelow"/></td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3" style="border: 1px solid; text-align: center;"><webobject name = "InpSWFooter"/></td>
		</tr>
		<!-- <tr>
			<td colspan="3" style="text-align: center;">options</td>
		</tr>
		<tr>
			<td style="text-align: right;">Use Dyslex</td>
			<td colspan = "2"><webobject name = "ChkUseDyslex"/></td>
		</tr>  -->
	</table>
</td><td style="border:1px solid; text-align: left; vertical-align: top;">
	<table border="0" cellspacing="0" cellpadding="4">
		<tr><td>
			<strong>Tungumálaskiptir:</strong><br/>
			Tungumál: <webobject name=InpLanguageCodes/>
		</td></tr>
		<tr><td>
			<strong>Fellivalblað:</strong><br/>
			<webobject name = "ChkSwTopNavigationDropDownHover"/> Hover<br/>
			Dálkar í fellivalblaði <webobject name=InpSwTopNavigationDropDownColumnCount/><br/>
			Max undir-undir síður per dálk <webobject name=InpSwTopNavigationDropDownMaxSubSubPagesPerColumn/>
		</td></tr>
	</table>
</td></tr></table>
<p>&nbsp;</p>
<table border="0" cellpadding="2" cellspacing="0" class="genericTable" align="LEFT">
	<tr>
		<td>
			<webobject name="String7"/><br>
			<webobject name="Text3"/>
		</td>
	</tr>
	<tr>
		<td>
			<webobject name = "String8"/><br>
			<webobject name = "Text4"/>
		</td>
	</tr>
</table>