<wo:switch WOComponentName="$lookName">
	<wo:AjaxUpdateContainer id="forgotPasswordUC" class="row">
		<div class="col-md-10">
			<h2>Gleymt aðgangsorð</h2>
			<wo:conditional condition="$hasSubmitted">
				<div class="alert alert-info">
					Leiðbeiningar voru sendar á netfangið <strong><wo:str value="$emailAddress" /></strong>
				</div>
			</wo:conditional>
			<wo:conditional condition="$hasSubmitted" negate="$true">
				<p>Sláðu inn netfangið þitt og þú færð sendar leiðbeiningar um hvernig þú getur endurstillt aðgangsorðið þitt.</p>
				<wo:conditional condition="$message.length">
					<div class="alert alert-error">
						<wo:str value="$message" />
					</div>
				</wo:conditional>
				<wo:form>
					<wo:textfield value="$emailAddress" id="emailAddressForForgottenPassword" placeholder="Netfang…" /><br /><wo:AjaxSubmitButton action="$submit" id="buttonForForgottenPassword" updateContainerID="forgotPasswordUC" value="Senda aðgangsorð" class="btn btn-default" style="margin-top: 5px" />
					<script type="text/javascript">
						jQuery(document).keypress(function(e) {
							emailAddressForForgottenPassword = jQuery('#emailAddressForForgottenPassword');
							hasFocus = emailAddressForForgottenPassword.is( ':focus' );
						
							buttonForForgottenPassword = jQuery('#buttonForForgottenPassword');

							if( hasFocus && e.which == 13) {
								buttonForForgottenPassword.click();
								return false;
							}
						});
					</script>
				</wo:form>
			</wo:conditional>
		</div>
	</wo:AjaxUpdateContainer>
</wo:switch>