<h4>Database connection</h4>
<wo:form>
	<table cellspacing="4" align="center" cellpadding="4" border="0">
		<tr>
			<td valign="top" colspan="2"><wo:conditional condition="$connectionDictionary"><wo:USPlistEditor object="$settings.connectionDictionary" /></wo:conditional></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td align="right"><wo:submit action="$save" value="$@ls.dbsSaveButtonTitle" /></td>
		</tr>
	</table>
	<h4><wo:str value="$@ls.dbsConnectionSwitchingHeader" /></h4>
	<p><wo:str value="$@ls.dbsConnectionSwitchingText" /></p>
	<p><wo:submit action="$switchConnection" value="$@ls.dbsSwitchConnectionButtonTitle" class="btn btn-danger" /></p>
	
	<h4><wo:str value="$@ls.dbsConstructionHeader" /></h4>
	<p><wo:str value="$@ls.dbsConstructionText" />:<br /></p>
	<table class="table table-condensed table-bordered table-striped">
		<tr>
			<th width="50%"><wo:str value="$@ls.dbsConstructionModuleNameTableHeader" /></th>
			<th><wo:str value="$@ls.dbsConstructionCreateTablesCheckbox" /></th>
			<th><wo:str value="$@ls.dbsConstructionDropTablesCheckbox" /></th>
		</tr>
		<wo:repetition list="$plugins" item="$currentPlugin">
			<tr>
				<td><wo:str value="$currentPlugin.name" /> <wo:str value="$currentPlugin.version" /></td>
				<td><wo:checkbox checked="$currentPlugin.constructSchema" /></td>
				<td><wo:checkbox checked="$currentPlugin.dropSchema" /></td>
			</tr>
		</wo:repetition>
	</table>
	<wo:submit action="$executeSQL" value="$@ls.dbsConstructButtonTitle" onClick="$@ls.dbsConstructionWarning" class="btn btn-danger" />
</wo:form>