<P ALIGN=RIGHT><B><WEBOBJECT NAME=String2></WEBOBJECT></B></P>
<WEBOBJECT NAME=SWTabPanel1>
	<WEBOBJECT NAME=KeyValueConditional1>
		<TABLE CELLSPACING=4 ALIGN=CENTER CELLPADDING=4 BORDER=0>
			<TR>
				<TD ALIGN=RIGHT>
					<WEBOBJECT NAME=String3></WEBOBJECT>:
				</TD>
				<TD>
					<WEBOBJECT NAME=PopUpButton1></WEBOBJECT> <WEBOBJECT NAME=SubmitButton2></WEBOBJECT>
				</TD>
			</TR>
			<TR>
				<TD VALIGN=TOP COLSPAN=2>
					<WEBOBJECT NAME=Conditional1>
						<WEBOBJECT NAME=PlistEditor1></WEBOBJECT>
					</WEBOBJECT>
				</TD>
			</TR>
			<TR>
				<TD>&nbsp;</TD>
				<TD ALIGN=RIGHT>
					<WEBOBJECT NAME=SubmitButton1></WEBOBJECT>
				</TD>
			</TR>
		</TABLE>
	</WEBOBJECT>
	<WEBOBJECT NAME=KeyValueConditional2>
		<TABLE CELLSPACING=4 ALIGN=CENTER CELLPADDING=4 BORDER=0>
			<TR>
				<TD VALIGN=TOP COLSPAN=2>
					<BR><B><WEBOBJECT NAME=String4></WEBOBJECT></B><BR><BR>
					<WEBOBJECT NAME=String5></WEBOBJECT><BR><BR>
					<WEBOBJECT NAME=GenerateDBButton4></WEBOBJECT><BR><BR>
					<HR>
					<B><WEBOBJECT NAME=String6></WEBOBJECT></B><BR><BR>
					<WEBOBJECT NAME=String7></WEBOBJECT>:<BR>
					<TABLE CELLSPACING=0 CELLPADDING=2 CLASS=genericTable BORDER=0>
						<TR>
							<TH WIDTH=50%>
								<WEBOBJECT NAME=String8></WEBOBJECT>
							</TH>
							<TH>
								<WEBOBJECT NAME=String10></WEBOBJECT>
							</TH>
							<TH>
								<WEBOBJECT NAME=String9></WEBOBJECT>
							</TH>
						</TR>
						<WEBOBJECT NAME=Repetition2>
							<TR>
								<TD>
									<WEBOBJECT NAME=String1></WEBOBJECT> <WEBOBJECT NAME=String11></WEBOBJECT>
								</TD>
								<TD>
									<WEBOBJECT NAME=CheckBox3></WEBOBJECT>
								</TD>
								<TD>
									<WEBOBJECT NAME=CheckBox4></WEBOBJECT>
								</TD>
							</TR>
						</WEBOBJECT>
						<WEBOBJECT NAME=Repetition1></WEBOBJECT>
					</TABLE>
					<BR>
					<WEBOBJECT NAME=GenerateDBButton3></WEBOBJECT>
				</TD>
			</TR>
		</TABLE>
	</WEBOBJECT>
</WEBOBJECT>