<webobject name = "SWAdminComponentWrapper1">
  <!-- SWEditPage -->
  <webobject name = "PageSelectedConditional">
    <br />
    <webobject name = "MainForm">
      <table cellspacing = "0" cellpadding = "2" class = "genericTable" border = "0" width = "100%">
        <tr>
          <td>
            <b><webobject name = "PageName" /></b>
            (<webobject name = "String1" />)</td>
          <td width = "120">
            <webobject name = "Image3" />&nbsp;<webobject name = "String2" />
          </td>
          <webobject name = "Conditional1">
            <webobject name = "Conditional3">
              <td NOWRAP WIDTH = "120">
                <webobject name = "JSConfirmPanel2"><webobject name = "Image2" /></webobject>
                <webobject name = "String3" />
              </td>
            </webobject>
          </webobject>
          <webobject name = "Conditional2">
            <td NOWRAP WIDTH = "120">
              <webobject name = "MOVE_PAGE_CONDITIONAL">
                <webobject name = "ResetHitCount"><webobject name = "MoveButton2" /></webobject>&nbsp;<webobject name = "String4" />
              </webobject>
            </td>
          </webobject>
          <td NOWRAP WIDTH = "120">
            <a href="<webobject name = Hyperlink5></webobject>" target="_blank"><webobject name = "Image1" /></a>
            <webobject name = "String5" />
          </td>
        </tr>
      </table>
      <br />
      <webobject name = "TabPanel1">
        <table cellspacing = "0" cellpadding = "0" border = "0" width = "100%">
          <tr>
            <td><webobject name = "SwitchComponent1" /></td>
          </tr>
        </table>
        <br />
        <table cellspacing = "0" cellpadding = "0" border = "0" width = "100%">
          <tr>
            <td align = "RIGHT"><webobject name = "SubmitButton1" /></td>
          </tr>
        </table>
      </webobject>
    </webobject>
  </webobject>
  <!-- end SWEditPage -->
</webobject>