<!-- ["meta-comment"]["site-info"]
{
	"created-by"      :  "http://www.godurkodi.is/",
	"host"            :  "<wo:str value="$context.request.remoteHostName" />",
	"uri-external"    :  "<wo:str value="$uri" />",
	"uri-internal"    :  "<wo:str value="$context.request.uri" />",
	"secure"          :  "<wo:str value="$context.request.isSecure" />",
	"user-id"         :  "<wo:str value="$softUser.uuid" />",
	"session-id"      :  "<wo:str value="$context.request.sessionID" />",
	"generated"       :  "<wo:str value="$now" dateformat="%Y-%m-%d %H:%M:%S" />",
	"startup-date"    :  "<wo:str value="$startupDate" dateformat="%Y-%m-%d %H:%M:%S" />",
	"build-date"      :  "<wo:str value="$buildDate" />",
	"build-branch"    :  "<wo:str value="$branch" />",
	"build-changeset" :  "<wo:str value="$changeset" />",
	"client-address"  :  "<wo:str value="$context.request.remoteHostAddress" />",
	"client-platform" :  "<wo:str value="$context.request.browser.platform" />",
	"client-browser"  :  "<wo:str value="$context.request.browser.browserName" />",
	"client-version"  :  "<wo:str value="$context.request.browser.version" />"
}
-->