<!-- SWSiteListing -->


		<webobject name="showSitePopUp">
			<webobject name="Form1">
				<webobject name="PopUpButton1"/>
			</webobject>
		</webobject>
		<webobject name="notShowSitePopUp"><webobject name="SetTheSelectedSite"/></webobject>
		<webobject name="Conditional6">
			<webobject name="Image2"/>&nbsp;
			<webobject name="Hyperlink1"><webobject name="String2"/></webobject>
			<webobject name="NestedList2">
				<table cellspacing="0">
					<webobject name="Conditional13">
						<webobject name="Conditional5">
							<webobject name="Conditional4">
								<tr>
									<td>&nbsp;</td>
									<td><webobject name="Hyperlink2">--&gt; Hinga&eth;</webobject></td>
								</tr>
							</webobject>
						</webobject>
					</webobject>
					<tr>
						<td style="width: 13px;">
							<webobject name="Hyperlink4"><webobject name="Conditional1"><webobject name="Image1"/></webobject></webobject>&nbsp;
						</td>
						<td style="white-space:nowrap;">
							<webobject name="Hyperlink12"><webobject name="CurrentLabel1"/></webobject>
						</td>
						<webobject name="Conditional3"/>
						<webobject name="Conditional2"/>
					</tr>
					<webobject name="Conditional14">
						<webobject name="Conditional8">
							<tr>
								<td>&nbsp;</td>
								<td><webobject name="Hyperlink3">--&gt; Hinga&eth;</webobject></td>
							</tr>
						</webobject>
					</webobject>
				</table>
			</webobject>
		</webobject>

	<webobject name = "IsAdmin">
		<webobject name = "SearchTextStr"/>
		<webobject name = "SearchForm">
			<webobject name = "InpSearchText"/>
		</webobject>
		
		<ul><webobject name = "SearchResultSitesList">
			<li><webobject name = "CurrentSiteNameStr"/></li>
			<ul><webobject name = "SearchResultPagesList">
				<webobject name = "LinkSearchPage"><webobject name = "CurrentSearchPageName"/></webobject>
			</webobject></ul>
		</webobject></ul>
	</webobject>

<!-- end SWSiteListing -->