<!-- SWEditPageGeneralInfo -->
<table cellspacing="0" border="0" cellpadding="2">
	<tr>
		<td align="center" valign="top">
			<table cellspacing="0" cellpadding="2" class="genericTable" border="0">
				<tr>
					<th colspan="2"><b><webobject name="String6"/></b></th>
				</tr>
				<tr>
					<th align="right"><webobject name="String1"/>:</th>
					<td><webobject name="NameField"/></td>
				</tr>
				<tr>
					<th align="right"><webobject name="String2"/>:</th>
					<td><webobject name="SymbolField"/></td>
				</tr>
				<tr>
					<th align="right"><webobject name="String3"/>:</th>
					<td><webobject name="NamePrefixField"/></td>
				</tr>
				<tr>
					<th align="right" style="vertical-align: top;"><webobject name="String4"/>:</th>
					<td>
						<webobject name="RedirectToField"/><br/>
						<webobject name="IsDefLook6"><webobject name = "ChkRedirectNewWindow"/> opna &iacute; n&yacute;jum glugga</webobject>
					</td>
				</tr>
				<tr>
					<th align="right"><webobject name="String5"/>:</th>
					<td><webobject name="LookField"/></td>
				</tr>
				<tr>
					<th align="right"><webobject name="String9"/>:</th>
					<td><webobject name="LanguageField"/></td>
				</tr>
				<tr>
					<th align="right" valign="top"><webobject name = "GoogleAnalyticsString"/></th>
					<td>UA-<webobject name = "GoogleAnalyticsInput"/></td>
				</tr>
				<tr>
					<th align="right" valign="top"><webobject name = "ModernusString"/></th>
					<td>
						Sub-domain&nbsp;<webobject name = "ModernusSubdomainInput"/> + .teljari.is<br/>
						Service id&nbsp;<webobject name = "ModernusServiceInput"/><br/>
						Site id&nbsp;<webobject name = "ModernusSiteInput"/>
					</td>
				</tr>
			</table>
		</td>      
		<td align="center" valign="top">&nbsp;</td>
		<td align="center" valign="top">
			<table cellspacing="0" class="genericTable" cellpadding="2" border="0">
				<tr>
					<th colspan="2"><b><webobject name="String33"/></b></th>
				</tr>
				<tr>
					<th align="right"><webobject name="String32"/>:</th>
					<td><webobject name="PopUpButton1"/></td>
				</tr>
				<tr>
					<th align="right"><webobject name="String17"/>:</th>
					<td><webobject name="LoginFormNameField"/></td>
				</tr>
				<tr>
					<th align="right"><webobject name="String18"/>:</th>
					<td><webobject name="LoginFormOptionsField"/></td>
				</tr>
				<tr>
					<th align="right"><webobject name="String31"/>:</th>
					<td><webobject name="SWDateField6"/></td>
				</tr>
				<tr>
					<th align="right"><webobject name="String30"/>:</th>
					<td><webobject name="SWDateField5"/></td>
				</tr>
				<tr>
					<th align="right" valign = "top"><webobject name="String29"/>:</th>
					<td>
						<webobject name="PublishCheckbox3"/>
						<webobject name = "IsDefLook6"><div>
							<webobject name = "ChkAlwaysOpen"/> <webobject name = "AlwaysOpenStr"/>
						</div></webobject>
					</td>
				</tr>
				<tr>
					<th align="right"><webobject name="String7"/>:</th>
					<td><webobject name="AccessibleCheckBox3"/></td>
				</tr>
				<webobject name = "IsDefLook6"><tr>
					<th align="right"><webobject name="HideRightColumnStr"/></th>
					<td><webobject name="HideRightColumnChk"/></td>
				</tr>
				<tr>
					<th align="right"><webobject name="HideNavigationStr"/></th>
					<td><webobject name="HideNavigationChk"/></td>
				</tr></webobject>
			</table>
		</td>
	</tr>
</table>
<br>
<table cellspacing="0" border="0" cellpadding="2">
	<tr>
		<td align="center" valign="top">
			<table cellspacing="0" class="genericTable" cellpadding="2" border="0">
				<tr>
					<th align="center"><b><webobject name="String16"/></b></th>
				</tr>
				<tr>
					<td><webobject name="Text4"/></td>
				</tr>
			</table>
		</td>
		<td>&nbsp;</td>
		<td valign="top">
			<table cellspacing="0" class="genericTable" cellpadding="2" border="0">
				<tr>
					<th align="center"><b><webobject name="String8"/></b></th>
				</tr>
				<tr>
					<td><webobject name="Text3"/></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
<webobject name = "IsAdmin"><webobject name = "IsDefLook6">
	<p>Custom Elements <webobject name = "CustomElements"/></p>
	<p><webobject name = "ChkNoInheritance"/> Apply only to this page (no inheritance)
</webobject></webobject>
<!-- end SWEditPageGeneralInfo -->