<!-- SWPictureHyperLink -->
<webobject name="HasPicture">
	<webobject name="ImageButton1"/><br />
	<webobject name = "ShowSizes"><webobject name="SizeStr"/> <webobject name="SizeList"/><br /></webobject>
	<webobject name="LinkRemoveImage"><webobject name="RemovePictureString"/></webobject>
</webobject><webobject name="HasNotPicture">
	<webobject name="ImageButton2"/><br />
	<webobject name="LinkAddImage"><webobject name="AddPictureString"/></webobject>
</webobject>
<!-- end SWPictureHyperLink -->