<webobject name=Conditional2>
	<ul>
		<webobject name=Repetition1>
			<WEBOBJECT NAME=Conditional4>
				<webobject name=GenericContainer1>
					<webobject name="Holder"><webobject name=Hyperlink1><webobject name=String1></webobject></webobject></webobject>
					<WEBOBJECT NAME=Conditional3>
						<webobject name=Conditional1>
							<WEBOBJECT NAME=SWNavigation1></WEBOBJECT>
						</webobject>
					</WEBOBJECT>
				</webobject>
			</WEBOBJECT>
			<WEBOBJECT NAME=Conditional7>
				<WEBOBJECT NAME=GenericContainer2>
					<webobject name="Holder"><WEBOBJECT NAME=Hyperlink2><WEBOBJECT NAME=String2></WEBOBJECT></WEBOBJECT></webobject>
					<WEBOBJECT NAME=Conditional6>
						<WEBOBJECT NAME=Conditional5>
							<WEBOBJECT NAME=SWNavigation2></WEBOBJECT>
						</WEBOBJECT>
					</WEBOBJECT>
				</WEBOBJECT>
			</WEBOBJECT>
		</webobject>
	</ul>
</webobject>