<!-- SWEditContent -->
<webobject name="SWPrivilegeConditional1">
	<webobject name="Conditional2">
		<webobject name="Hyperlink3"><webobject name="Image3"/></webobject>
		<br><br>
		<b><webobject name="String2"/></b>
	</webobject>
	<table border="0" cellpadding="0" cellspacing="0" align="LEFT" width="100%">
		<webobject name="Repetition1">
			<webobject name="Conditional1"/>
			<tr>
				<webobject name="GenericContainer2"><webobject name="Hyperlink2"><webobject name="Image1"/></webobject></webobject>
				<td align="left" valign="top" width="100%" bgcolor="#ffffff"><webobject name="EditComponent"/></td>
				<td align="right" width="40" valign="middle">
					<table cellspacing="0" cellpadding="0" border="0" height="10">
						<tr>
							<td rowspan="2" width="5"></td>
							<td><webobject name="componentIsFirst"><webobject name="ImageButton11"/></webobject></td>
							<td rowspan="2">&nbsp;</td>
							<td rowspan="2"><webobject name="ResetHitCount2"><webobject name="TransferComponentImage"/></webobject></td>
							<td rowspan="2">&nbsp;</td>
							<td rowspan="2"><webobject name="DeleteButton2"/></td>
							<td rowspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td><webobject name="componentIsNotLast"><webobject name="ImageButton4"/></webobject></td>
						</tr>
					</table>
				</td>
			</tr>
			<webobject name="componentIsLast">
				<tr bgcolor="#dddddd">
					<td><webobject name="Hyperlink1"><webobject name="Image2"/></webobject></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</webobject>
		</webobject>
	</table>
</webobject>
<webobject name="SWPrivilegeConditional2">
	<webobject name="String1"/>
</webobject>
<!-- end SWEditContent -->