<!-- SWImageGalleryAdmin -->
<div>
  <fieldset>
    <legend>Framsetning</legend>
    <p><webobject name = "PopUpButton1" /></p>
  </fieldset>
  <webobject name = "IsOneImage"><fieldset>
    <legend>Ein mynd</legend>
    <p>Hlekkur &aacute; mynd <webobject name = "Myndahlekkur" /></p>
  </fieldset></webobject>
  <webobject name = "IsRandomImage"><fieldset>
    <legend>Mynd af handah&oacute;fi</legend>
    <p>Hlekkur &aacute; mynd <webobject name = "Myndahlekkur" /></p>
  </fieldset></webobject>
  <webobject name = "IsSlideshow"><fieldset>
    <legend>Myndas&yacute;ning</legend>
    <p>Breidd: <webobject name = "Myndabreidd" />
      &nbsp; H&aelig;&eth;: <webobject name = "Myndahaed" />
    </p>
    <p>Bi&eth; milli mynda (sek&uacute;ndur): 
      <webobject name = "SlideShowDelay" />
      (0 handvirkt &gt;0 sj&aacute;lfvirkt)</p>
    <p><webobject name = "SortCheckbox" /> Ra&eth;a myndum eftir heiti</p>
    <p><webobject name = "CaptionCheckbox" /> S&yacute;na myndatexta</p>
  </fieldset></webobject>
  <webobject name = "IsGallery"><fieldset>
  	<legend>Alb&uacute;m</legend>
  	<p>St&aelig;r&eth; sm&aacute;mynda <webobject name = "PopupThumbSize"/></p>
  	<p>St&aelig;r&eth; frummynda <webobject name = "PopupViewSize"/></p>
  	<p><webobject name="ChkECard"/> Rafr&aelig;n kve&eth;ja</p>
  </fieldset></webobject>
  <fieldset>
    <legend>Mynd</legend>
    <webobject name = "SWPictureHyperlink1" />
  </fieldset>
</div>
<!-- end SWImageGalleryAdmin -->