<webobject name=condShow>
<!-- Virk vefmaeling byrjar. Vefur: http://<webobject name=webDomain></webobject> -->

<script language="javascript" type="text/javascript"><!--
        var p_run_js=0;
//--></script>
<script language="javascript1.1" type="text/javascript"><!--
        var p_run_js=1;
//--></script>
<script language="javascript" type="text/javascript"><!--
//<![CDATA[
        var service_id = "<webobject name=serviceId></webobject>";
	    var portion = "<webobject name=servicePortion></webobject>";
        var page = "<webobject name=pageSymbolOrId></webobject>";
        var subdomain = "<webobject name=subdomain></webobject>";
        if(!p_run_js) {
                document.write('<img width="1" height="1" src="//'+subdomain+'.teljari.is/potency/potency.php?o='+service_id+';i='+portion+';p='+page+';j=1.0" alt="" border="0" />');
        }
//]]>
//--></script>
<script language="javascript1.1" type="text/javascript" src="//<webobject name=subdomain></webobject>.teljari.is/potency/js/potency.js"></script>
<noscript>
<img width="1" height="1" src="<webobject name=noScriptUrl></webobject>" alt="" border="0" />
</noscript>
<!-- Virk vefmaeling endar -->
</webobject>